@page "/react/Counter"
@using Microsoft.AspNetCore.Components.Rendering;
@inject IJSRuntime jsRuntime

<div id="entry"></div>

@code{    

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(()=>
        {
            this.CreateReactComponentJSX();
            base.OnInitializedAsync();
        });
    }

    private async void CreateReactComponentJSX()
    {
        await jsRuntime.InvokeVoidAsync("InfoLinkComponents.ReactMain", "entry");
    }
}